/* This is the CSS styling for the assembly page */

/* Author: Alex Zielinski */

/* styling for the box that displays robots */
.assemblyRobotItems{
    overflow-x: auto;
    white-space: nowrap;
}

/* styling for the box that displays robot parts */
.assemblyPartItems{
    overflow-x: auto;
    white-space: nowrap;
}

/* styling for robot items`*/
.robotItems{
    display: inline-block;
    white-space: normal;
}

/* styling for parts items */
.partItems{
    display: inline-block;
    white-space: normal;
}

/* align buttons to the right*/
.assemblyButtons{
	text-align: right;
	padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
